# Vite base URL — указывает на backend
# Пример для локальной разработки:
VITE_BASE_URL=http://localhost:3000

# Дополнительные опциональные переменные (раскомментируйте при необходимости)
 #VITE_IMAGEKIT_URL=https://ik.imagekit.io/your_imagekit_id/
 #VITE_OTHER_KEY=your_value